<nav class="page-sidebar">
  <!--app-sidebar works!-->

  <!--<button (click)="toggleSidebar()">close</button>-->
  <ul class="list-group sidebar-nav">

    <li class="list-group-item sidebar-nav__item"
        (click)="navigateTo()"
        matTooltip="Dashboard"
        [matTooltipPosition]="'right'">
      <div class="sidebar-nav__icon">
        <span class="mdi mdi-monitor-dashboard"></span>
      </div>
      <div class="sidebar-nav__text">Dashboard</div>
    </li>
    <li class="list-group-item sidebar-nav__item"
        (click)="navigateTo('/example')"
        matTooltip="Example"
        [matTooltipPosition]="'right'">
      <div class="sidebar-nav__icon">
        <span class="mdi mdi-file-find"></span>
      </div>
      <div class="sidebar-nav__text">Example</div>
    </li>

  </ul>

</nav>

